body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(245, 222, 179, 0.63);
}

h1 {
    text-align: center;
    font-weight: 1000;
}
.info {
    text-align: center;
}

ul li,
ol li{
    margin-bottom: 10px;
}
.recipe-desc {
    font-weight: bold;
}