body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(245, 222, 179, 0.63);
    margin: 50px;
    margin-right: 1000px;
}

h1{
    text-align: left;
    font-weight: 1000;
}
.info {
    text-align: left;
}

ul li,
ol li{
    margin-bottom: 20px;

}
.recipe-desc {
    font-weight: bold;
}
ul .nested {
    list-style-type: disc;
}